{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ bird.oldName }}</h1>

    <p>This bird needs a new name</p>

    {% for image in bird.images %}
        <img src="{{ image.filename|image_upload_path }}" alt="{{ image.alt }}">
        <caption>{{ image.attribution }}</caption>
    {% endfor %}

    <h2>Suggested names</h2>
    <ul>
        {% for birdName in bird.birdNames %}
            <li>{{ birdName.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}