{% extends 'base-admin.html.twig' %}

{% block title %}Bird{% endblock %}

{% block container %}
    <h1>Bird</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Old name</th>
                <td>{{ bird.oldName }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td><a href="{{ path('bird', {birdSlug: bird.oldNameSlugged}) }}">{{ bird.oldNameSlugged }}</a></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    {{ bird.description|raw }}
                </td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    {% for image in bird.images %}
                        <img src="{{ image.filename|image_upload_path|imagine_filter('small_thumbnail') }}" alt="{{ image.alt }}">
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ bird.createdAt ? bird.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ bird.updatedAt ? bird.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ bird.createdBy }}</td>
            </tr>
            <tr>
                <th>Last updator</th>
                <td>{{ bird.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-link" href="{{ path('app_bird_admin_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('app_bird_admin_edit', {'id': bird.id}) }}">edit</a>

    {{ include('admin/birds/_delete_form.html.twig') }}
{% endblock %}
