{% block new_image_widget %}
    <div class="row">
        <div class="col-sm-4">
            {{ form_row(form.file) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.alt) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.attribution) }}
        </div>
    </div>
{% endblock %}

{% block delete_image_widget %}
    <div class="d-flex align-items-center" style="gap: 1rem;">
        <img
            src="{{ form.vars.value.filename|image_upload_path|imagine_filter('small_thumbnail') }}"
            alt="{{ form.vars.value.alt }}"
        >
        {{ form_row(form.shouldDelete) }}
    </div>
{% endblock %}